{{page-title "Domain My Account"}}

<div class="card card-user" id="card-domain">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      {{domains/connection-to-metamask}}
    </div>
    <div class="card-body-stake card-body-domain">
      <h5 class="title">{{t 'domain.my_account'}}</h5>
      <div class="justify-content-lg-center justify-content-md-center">
        {{domains/my-account}}
      </div>
    </div>
  </div>
</div>
