{{page-title "Congrats"}}
<div class="row">
    <div class="col-md-6" style=" margin: 80px auto;">
        <div class="card card-user">
            <div class="card-body card-min-390">
                <p class="card-text"></p>
                <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <br/><br/><br/>
                <LinkTo @route='dashboard' @class="">
                    <img class="" src="{{rootURL}}/assets/img/thetaboard-logo-icon.png" alt="..."/>
                </LinkTo>
                </div>
                <div class="card-body-stake">
                    <h3 class="title">Welcome to Thetaboard </h3>
                    <div class="row justify-content-lg-center justify-content-md-center">
                        <form class="stakes-deposit col-md-9">
                            <div class="form-group">
                                <label>A verification link has been sent to your email address.</label>
                                <p>Please click on the link we just sent you through email to finalize the registration process.</p>
                                <br/><br/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>