<div class="col-12" style="margin: 25px 0;">
    <p class="tns-title">{{t 'domain.help'}}</p>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <iframe class="video-help" width="400" height="225" src="https://www.youtube.com/embed/Md-D3y5n_9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <iframe class="video-help" width="400" height="225" src="https://www.youtube.com/embed/4ht6wDGcoLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="col-md-12">
    <div class="explanation-tile">
        <iframe class="video-help" width="400" height="225" src="https://www.youtube.com/embed/EvWPqKiNdy4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
