{{#if metamask.currentAccount}}
    <p>{{t 'domain.connected_to_address'}}:</p>
    <p>{{metamask.currentAccount}}</p>
{{/if}}

{{#if metamask.currentName}}
    <p>{{t 'domain.reverse_name_set_to'}}:</p>
    <p>{{metamask.currentName}}</p>
{{/if}}