<div class="alert alert-success buy-domain">
    {{#if metamask.currentAccount}}
        <p>{{t 'domain.connected_to_address'}}:</p>
        <p><b>{{metamask.currentAccount}}</b></p>
    {{/if}}

    {{#if metamask.currentName}}
        <p>{{t 'domain.reverse_name_set_to'}}:</p>
        <p><b>{{metamask.currentName}}</b></p>
    {{/if}}
</div>