{{page-title "Sign Up"}}


<div class="card login-card">
    <div class="logo">
        <img class="thetaboard-logo" src="{{rootURL}}assets/img/thetaboard-logo.png"/>
    </div>
    <div class="card-body">
    <h4 class="card-title">Login</h4>
    <div class="row">
        <div class="col-md-6" style=" margin: auto;">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" style="text-align:center;" value="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style=" margin: auto;">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" style="text-align:center;" value="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style=" margin: auto;">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" style="text-align:center;" value="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style=" margin: auto;">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password Confirmation" style="text-align:center;" value="">
            </div>
        </div>
    </div>
    <LinkTo @class="nav-link" @route="login">You already have an account?<br/>click here to Login</LinkTo>
    <a {{on 'click' this.register}} href="#" class="btn btn-primary">Register</a>
  </div>
</div>