{{page-title "Landing"}}

<div class="landing-top-container">
    <h1 class="landing-title" style="font-family: azonix;">Thetaboard</h1>
    <h4 class="landing-subtitle" style="font-family: arcon;">Explore the future of the Theta Blockchain</h4>
    <p class="" style="font-family: arcon;">Thetaboard is a place dedicated to the proactive development of<br/>
    the Theta Blockchain activity and infrastructure through<br/>NFT creation,  trading, service and monitoring.</p>
</div>