{{#if this.session.isAuthenticated}}
    {{#if this.currentUser.user.notVerified}}
        <div class="alert alert-warning" style="text-align: center; margin: 0;">
            <span>{{t 'verify.please_verify'}}</span> 
            <a href="" {{on 'click' this.resendEmailValidation}} style="padding: 7px 20px;" class="btn btn-fill btn-primary ember-view">{{t 'verify.resend'}}</a>
        </div>
    {{/if}}
{{/if}}