{{page-title "Email verification"}}

<div class="row">
    <div class="col-md-6" style="margin: 80px auto;">
        <div class="card card-user">
            <div class="card-body card-min-390">
                <p class="card-text"></p>
                <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <br/><br/><br/><br/>
                <LinkTo @route='dashboard' @class="">
                    <img class="" src="{{rootURL}}/assets/img/thetaboard-logo-icon.png" alt="..."/>
                </LinkTo>
                </div>
                <div class="card-body-stake">
                    {{#if @model.data.id}}
                        <h3 class="title">Welcome to Thetaboard </h3>
                        <div class="row justify-content-lg-center justify-content-md-center">
                            <form class="stakes-deposit col-md-9">
                                <div class="form-group">
                                    <label>Your email is now verified.</label>
                                    <br/><br/>
                                    {{#if isUserAuthenticated}}
                                        <a href="/" class="btn btn-primary">Go to dashboard</a>
                                    {{else}}
                                        <p>You can now login to your account</p>
                                        <br/>
                                        <a href="/login" class="btn btn-primary">Login</a>
                                    {{/if}}
                                    <br/><br/><br/>
                                </div>
                            </form>
                        </div>
                    {{else if @model.data.error}}
                        <h3 class="title">Thetaboard </h3>
                        <div class="row justify-content-lg-center justify-content-md-center">
                            <form class="stakes-deposit col-md-9">
                                <div class="form-group">
                                    <label>Your verification link is invalid.</label>
                                    <br/><br/>
                                    <p>Log into your account and click on the "Re-send verification link" banner.</p>
                                    <br/>
                                    <LinkTo @route="login" @class="btn btn-primary">Go to login</LinkTo>
                                    <br/><br/>
                                </div>
                            </form>
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
