<div class="dropdown nav-item paddingtop">
    <a href="javascript:void(0)" style="outline: none;" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
        <div style="text-align: left;"><span class="language-selector i18n-selector">{{i18n.currentLocale.name}}  <i class="tim-icons icon-minimal-down"></i></span></div>
    </a>
    <div class="dropdown-menu dropdown-menu-left dropdown-navbar">
        <div class="split-i18n-currency">
            <p class="title">{{t "locale.language"}}</p>
            {{#each this.i18n.localeList as |locale|}}
                <p {{on 'click' (fn this.setLocale locale.value)}} class="nav-link"><a href="#" class="nav-item dropdown-item">{{locale.name}}</a></p>
            {{/each}}
        </div>
    </div>
</div>