{{page-title "Secondary"}}

<div class="card card-user">
  <div class="card-body card-min-390">
    <h1 class="card-title">Marketplace - Exchange</h1>
    <div class="row">
      {{#each sellingNFTs as |NFT|}}
        {{marketplace/secondary/nft nft=NFT}}
      {{/each}}
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>